<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="{{ 'slick.css' | asset_url }}"/>
  <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,700" rel="stylesheet">
  <script type="text/javascript" src="{{ 'slick.min.js' | asset_url }}"></script>
  <script type="text/javascript" src="{{ 'clipboard.min.js' | asset_url }}"></script>
  <link rel="canonical" href="{{ canonical_url }}">

  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {%- endif -%}

  {%- capture seo_title -%}
    {{ page_title }}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
      &ndash; {{ shop.name }}
    {%- endunless -%}
  {%- endcapture -%}
  <title>{{ seo_title | strip }}</title>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {% include 'social-meta-tags' %}

  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  {% include 'google-fonts' %}

  <script>
    var theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        regularPrice: {{ 'products.product.regular_price' | t | json }},
        sale: {{ 'products.product.on_sale' | t | json }},
        showMore: {{ 'general.filters.show_more' | t | json }},
        showLess: {{ 'general.filters.show_less' | t | json }},
        addressError: {{ 'sections.map.address_error' | t | json }},
        addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
        addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
        authError: {{ 'sections.map.auth_error_html' | t | json }},
        newWindow: {{ 'general.accessibility.link_messages.new_window' | t | json }},
        external: {{ 'general.accessibility.link_messages.external' | t | json }},
        newWindowExternal: {{ 'general.accessibility.link_messages.new_window_and_external' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }}
    }

    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>

  <!--[if (lte IE 9) ]>{{ 'match-media.min.js' | asset_url | script_tag }}<![endif]-->

  {%- if template.directory == 'customers' -%}
    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'shopify_common.js' | shopify_asset_url }}"></script><![endif]-->
  {%- endif -%}

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'lazysizes.js' | asset_url }}" async="async"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'lazysizes.min.js' | asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'vendor.js' | asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'theme.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'theme.js' | asset_url }}"></script><![endif]-->

  {{ content_for_header }}

  <!-- Taboola Pixel -->

  <script type='text/javascript'>
  window._tfa = window._tfa || [];
  window._tfa.push({notify: 'event', name: 'page_view'});
  !function (t, f, a, x) {
         if (!document.getElementById(x)) {
            t.async = 1;t.src = a;t.id=x;f.parentNode.insertBefore(t, f);
         }
  }(document.createElement('script'),
  document.getElementsByTagName('script')[0],
  '//cdn.taboola.com/libtrc/unip/1152012/tfa.js',
  'tb_tfa_script');
  </script>
  <noscript>
    <img src='//trc.taboola.com/1152012/log/3/unip?en=page_view'
        width='0' height='0' style='display:none'/>
  </noscript>

</head>
<body class="template-{{ template | split: '.' | first }} spec-template-{{ template | handleize }}">

  <!-- Load Facebook SDK for JavaScript -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_GB/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <!-- Your customer chat code -->
  <div class="fb-customerchat"
    attribution=setup_tool
    page_id="1894150114188528"
    theme_color="#36D4BC">
  </div>

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  <div id="SearchDrawer" class="search-bar drawer drawer--top" role="dialog" aria-modal="true" aria-label="{{ 'general.search.placeholder' | t }}">
    <div class="search-bar__table">
      <div class="search-bar__table-cell search-bar__form-wrapper">
        <form class="search search-bar__form" action="/search" method="get" role="search">
          <input class="search__input search-bar__input" type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" aria-label="{{ 'general.search.placeholder' | t }}">
          <button class="search-bar__submit search__submit btn--link" type="submit">
            {% include 'icon-search' %}
            <span class="icon__fallback-text">{{ 'general.search.submit' | t }}</span>
          </button>
        </form>
      </div>
      <div class="search-bar__table-cell text-right">
        <button type="button" class="btn--link search-bar__close js-drawer-close">
          {% include 'icon-close' %}
          <span class="icon__fallback-text">{{ 'general.search.close' | t }}</span>
        </button>
      </div>
    </div>
  </div>

  {% section 'header' %}

  <div class="page-container" id="PageContainer">
    <main class="main-content" id="MainContent{% if template == 'product' or template == 'product.brand-product' or template == 'product.seller-product' or template == 'product.seller-product-special' %}{% else %}-Index{% endif %}" role="main">
      {%- if template == 'index' or template == 'collection' or template == 'page.about' or template == 'page.contact' -%}
        {% section 'message' %}
      {%- endif -%}
      {{ content_for_layout }}
    </main>
  </div>

  {% section 'footer' %}

  <div class="modal-backdrop-container" id="newsletter-modal" style="display:none;">
    <div class="modal-backdrop">
      <div class="modal-modal">
        <div class="modal-modal-content">
          <img alt="" class="modal-img" src="https://cdn.shopify.com/s/files/1/0066/7058/1875/files/newsletter.png?7489562385049202378" />
          <div class="modal-container">
            <p class="modal-p">Sign-up to the hottest trendiamo news and get 10% off your first purchase!</p>
            <div id="hbspt-newsletter-form"></div>
          </div>
        </div>
        <div class="close-modal">{% include "icon-close" %}</div>
      </div>
    </div>
  </div>
  <!--[if lte IE 8]>
  <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
  <![endif]-->
  <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
  <script src="//unpkg.com/js-cookie"></script>
  <script>
function openNewsletterModal() {
  $('#newsletter-modal').show();
  hbspt.forms.create({
    portalId: '4568386',
    formId: 'd67387a6-34f1-493d-8f67-d8b418cd7e01',
    css: '',
    target: '#hbspt-newsletter-form'
  });
}

function closeNewsletterModal() {
  $('#newsletter-modal').hide();
  Cookies.set('isNewsletterModalClosed', true);
}

$('.site-header__join').click(function() {
  openNewsletterModal();
});

$('#newsletter-modal').click(function(event) {
  if ($(event.target).is('.modal-backdrop, .close-modal, svg, path')) {
    closeNewsletterModal();
  }
});

if (!Cookies.get('isNewsletterModalClosed')) {
  $(document).ready(function() {
    window.setTimeout(openNewsletterModal, 4000);
  });
}
  </script>
  <script type="text/javascript" id="cookiebanner" src="https://cdn.jsdelivr.net/gh/dobarkod/cookie-banner@1.2.1/dist/cookiebanner.min.js" data-message="We are using cookies to enhance your experience on this site. By continuing you agree to our cookie privacy agreement." data-bg="rgba(0, 0, 0, 0.8)" data-moreinfo="/pages/privacy" data-close-precedes="false" data-close-style="padding-top: 5px; padding-bottom: 5px; padding-left: 10px; float: none; margin-left: 5px;" data-linkmsg="Learn more" data-close-text="Okey"></script>
</body>
</html>
