<script id="CartTemplate" type="text/template">
{% raw %}
    <form action="/cart" method="post" novalidate class="cart ajaxcart__form">
        <div class="ajaxcart__inner">
            <div class="ajaxcart__products">
                {{#items}}
                <div class="ajaxcart__product">
                    <div class="ajaxcart__row" data-line="{{line}}">

                        <div class="o-layout o-layout--tiny u-flex u-flex--middle">

                            <div class="o-layout__item u-1/1 u-6/10@tab">
                                <div class="o-layout o-layout--tiny u-flex u-flex--middle">
                                    <div class="o-layout__item u-1/3 u-1/4@tab">
                                        <a href="{{url}}" class="ajaxcart__product-image">
                                            <div class="o-ratio o-ratio--bg-grey">
                                                <img src="{{img}}" class="o-ratio__content" alt="{{name}}">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="o-layout__item u-2/3 u-3/4@tab">
                                        <a href="{{url}}"><h3 class="ajaxcart__product-name">{{name}}</h3></a>
                                        {{#if variation}}
                                            <p class="ajaxcart__product-meta">{{variation}}</p>
                                        {{/if}}
                                        {{#properties}}
                                            {{#each this}}
                                                {{#if this}}
                                                    <p class="ajaxcart__product-meta">{{@key}}: {{this}}</p>
                                                {{/if}}
                                            {{/each}}
                                        {{/properties}}
                                        {% endraw %}{% if settings.cart_vendor_enable %}{% raw %}
                                            <p class="ajaxcart__product-meta">{{ vendor }}</p>
                                        {% endraw %}{% endif %}{% raw %}
                                    </div>
                                </div>
                            </div>

                            <div class="o-layout__item u-2/3 u-2/10@tab">
                                <div class="ajaxcart__qty">
                                    <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--minus" data-id="{{key}}" data-qty="{{itemMinus}}" data-line="{{line}}">
                                        <span aria-hidden="true">&minus;</span>
                                        <span class="u-hidden-visually">{% endraw %}{{ 'cart.general.reduce_quantity' | t }}{% raw %}</span>
                                    </button>
                                    <input type="text" name="updates[]" class="ajaxcart__qty-num" value="{{itemQty}}" min="0" data-id="{{key}}" data-line="{{line}}" aria-label="quantity" pattern="[0-9]*">
                                    <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--plus" data-id="{{key}}" data-line="{{line}}" data-qty="{{itemAdd}}">
                                        <span aria-hidden="true">+</span>
                                        <span class="u-hidden-visually">{% endraw %}{{ 'cart.general.increase_quantity' | t }}{% raw %}</span>
                                    </button>
                                </div>
                            </div>

                            <div class="o-layout__item u-1/3 u-2/10@tab">
                                {{#if discountsApplied}}
                                    <small class="ajaxcart-item__price-strikethrough"><s><span class="money">{{{originalLinePrice}}}</span></s></small>
                                    <br><span><span class="money">{{{linePrice}}}</span></span>
                                {{else}}
                                    <div class="ajaxcart-item__price"><span class="money">{{{linePrice}}}</span></div>
                                {{/if}}
                                
                                {{#if discountsApplied}}
                                    <div class="grid--full display-table">
                                        <div class="grid__item text-right">
                                            {{#each discounts}}
                                                <small class="ajaxcart-item__discount">{{ this.title }}</small><br>
                                            {{/each}}
                                        </div>
                                    </div>
                                {{/if}}
                            </div>

                        </div>

                    </div>
                </div>
                {{/items}}
            </div>

            {% endraw %}{% if settings.cart_notes_enable %}{% raw %}
            <div class="ajaxcart__message">
                <label for="CartSpecialInstructions" class="ajaxcart__message-label">{% endraw %}{{ 'cart.general.note' | t }}{% raw %}</label>
                <textarea name="note" class="input-full" id="CartSpecialInstructions">{{ note }}</textarea>
            </div>
            {% endraw %}{% endif %}{% raw %}

        </div>
      
        <div class="ajaxcart__footer">
            <div class="o-layout o-layout--tiny o-layout--reverse"> 
                <div class="o-layout__item u-1/1 u-1/3@tab">
                    <p class="ajaxcart__footer-total">{% endraw %}{{ 'cart.general.subtotal' | t }}{% raw %} <span class="money">{{{totalPrice}}}</span></p>
                    {{#if totalCartDiscount}}
                        <p class="ajaxcart__savings"><em><span class="money">{{{totalCartDiscount}}}</span></em></p>
                    {{/if}}
                </div>
                <div class="o-layout__item u-1/1 u-2/3@tab">
                    <p class="ajaxcart__footer-message">{% endraw %}{{ 'cart.general.shipping_at_checkout' | t }}{% raw %}</p>
                </div>
            </div>
        </div>

        <div class="ajaxcart__button">
            {% endraw %}{% if settings.cart_continue %}{% raw %}
            <div class="o-layout o-layout--tiny o-layout--reverse"> 
                <div class="o-layout__item u-1/1 u-1/2@tab">
            {% endraw %}{% endif %}{% raw %}
                    <button type="submit" class="c-btn c-btn--full c-btn--primary c-btn--arrow ajaxcart__checkout" name="checkout">{% endraw %}{{ 'cart.general.checkout' | t }}{% raw %}</button>  
            {% endraw %}{% if settings.cart_continue %}{% raw %}
                </div>
                <div class="o-layout__item u-1/1 u-1/2@tab">
                    <a href="#" class="c-btn c-btn--full c-btn--light js-close-mfp ajaxcart__continue">{% endraw %}{{ 'cart.general.continue_shopping' | t }}{% raw %}</a>
                </div>
            </div>
            {% endraw %}{% endif %}{% raw %}
        </div>
    </form>
{% endraw %}
</script>

<script id="AjaxQty" type="text/template">
    {% raw %}
    <div class="ajaxcart__qty">
        <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--minus" data-id="{{key}}" data-qty="{{itemMinus}}">
            <span aria-hidden="true">&minus;</span>
            <span class="u-hidden-visually">{% endraw %}{{ 'cart.general.reduce_quantity' | t }}{% raw %}</span>
        </button>
        <input type="text" class="ajaxcart__qty-num" value="{{itemQty}}" min="0" data-id="{{key}}" aria-label="quantity" pattern="[0-9]*">
        <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--plus" data-id="{{key}}" data-qty="{{itemAdd}}">
            <span aria-hidden="true">+</span>
            <span class="u-hidden-visually">{% endraw %}{{ 'cart.general.increase_quantity' | t }}{% raw %}</span>
        </button>
    </div>
{% endraw %}
</script>

<script id="JsQty" type="text/template">
{% raw %}
    <div class="js-qty">
        <button type="button" class="js-qty__adjust js-qty__adjust--minus icon-fallback-text" data-id="{{key}}" data-qty="{{itemMinus}}">
            <span aria-hidden="true">&minus;</span>
            <span class="u-hidden-visually">{% endraw %}{{ 'cart.general.reduce_quantity' | t }}{% raw %}</span>
        </button>
        <input type="text" class="js-qty__num" value="{{itemQty}}" min="1" data-id="{{key}}" aria-label="quantity" pattern="[0-9]*" name="{{inputName}}" id="{{inputId}}">
        <button type="button" class="js-qty__adjust js-qty__adjust--plus" data-id="{{key}}" data-qty="{{itemAdd}}">
            <span aria-hidden="true">+</span>
            <span class="u-hidden-visually">{% endraw %}{{ 'cart.general.increase_quantity' | t }}{% raw %}</span>
        </button>
    </div>
{% endraw %}
</script>