<style type="text/css">
    .header__logo {width: {{ section.settings.logo_max_width }}px}
</style>
{% if section.settings.show_border %}
    <div class="header-stripe"></div>
{% endif %}

<header role="banner" id="top" class="header u-flex u-flex--middle u-flex--center" data-section-id="{{ section.id }}" data-section-type="password-header-section">
    <div class="header__logo u-flex u-flex--middle u-flex--center{% unless section.settings.logo %} header__logo--text{% endunless %}">
        <div class="header__logo-wrapper js-main-logo" itemscope itemtype="http://schema.org/Organization">
            {% if section.settings.logo %}
                <a href="/" itemprop="url" class="header__logo-link">
                    {% capture image_size %}{{ section.settings.logo_max_width | times: 1.5 | round }}x{% endcapture %}
                    <img src="{{ section.settings.logo | img_url: image_size }}" class="header__logo-img" alt="{{ section.settings.logo.alt | default: shop.name }}" itemprop="logo">
                </a>
            {% else %}
                <a href="/" class="header__logo-link header__logo-link--text" itemprop="url">{{ shop.name }}</a>
            {% endif %}
        </div>
    </div>
</header>

{% schema %}
{
    "name": "Header",
    "class": "js-section__password-header",
    "settings": [
        {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo image"
        },
        {
            "type": "range",
            "id": "logo_max_width",
            "label": "Custom logo width",
            "unit": "px",
            "min": 40,
            "max": 400,
            "step": 10,
            "default": 200
        },
        {
            "type": "checkbox",
            "id": "show_border",
            "label": "Show brand border",
            "default": true
        }
    ]
}
{% endschema %}