{% capture easylockdownPage404Content %}
  <div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1><span class="easylockdown-title-404">{{ easylockdownPage404Title }}</span></h1>
      </div>

      <div class="rte">
        <div class="easylockdown-message-404">{{ easylockdownPage404Message }}</div>
      </div>
    </div>
  </div>
</div>
{% endcapture %}

{% if easylockdownON %}
  <div id='easylockdown404'>{{ easylockdownPage404Content }}</div>

{% else %}

  <div class='easylockdown-content' style='display:none;'>
    {{ content_for_layout }}
  </div>
  <div id='easylockdown404' style='display:none;'>{{ easylockdownPage404Content }}</div>
  {% include 'easylockdown_password_form' %}

  <script type="text/javascript" id='easylockdown-helper'>
    if( typeof easylockdown == 'object' ) easylockdown.clientContentToggle({% unless easylockdownHiddenPurchase %}true{% endunless %});
    else { for(var blocks=document.querySelectorAll("div.easylockdown-content, #easylockdown-password-form, #easylockdown-hpbtn-style, .easylockdown-auto-hl-styles, .easylockdown-custom-hl-styles"),i=0;i<blocks.length;i++)blocks[i].remove();try{document.getElementById("easylockdown404").removeAttribute("style")}catch(a){}try{document.querySelector(".easylockdown-title-404").innerHTML="Page not found"}catch(a){}try{document.querySelector(".easylockdown-message-404").innerHTML="<p>Sorry, we couldn't find this page.</p>"}catch(a){}; }
  </script>
{% endif %}