{% comment %}
    Renders a pagination bar

    Accepts:
    - paginate: {Object} Paginate Liquid object (required)

    Usage:
    {% include 'pagination', paginate: paginate %}
{% endcomment %}
<ul class="list--inline pagination">
  {% unless paginate.previous.is_link %}
    <li>
      <button disabled class="btn btn-sm btn-lowercase btn-outlined btn-black" >
        {{ 'general.pagination.previous' | t }}
      </button>
    </li>
  {% else %}
    <li>
      <a href="{{ paginate.previous.url }}">
        <button class="btn btn-sm btn-lowercase btn-outlined btn-black" >
          {{ 'general.pagination.previous' | t }}
        </button>
      </a>
    </li>
  {% endunless %}
  {% unless paginate.next.is_link %}
    <li>
      <button disabled class="btn btn-sm btn-lowercase btn-black" >
        {{ 'general.pagination.next' | t }}
      </button>
    </li>
  {% else %}
    <li>
      <a href="{{ paginate.next.url }}">
        <button class="btn btn-sm btn-lowercase btn-black" >
          {{ 'general.pagination.next' | t }}
        </button>
      </a>
    </li>
  {% endunless %}
</ul>
