<div class="grid-view-item{% unless product.available %} grid-view-item--sold-out{% endunless %} product-card">
  <a class="grid-view-item__link grid-view-item__image-container product-card__link" href="{{ product.url | within: collection }}">
    <span class="visually-hidden">{{ product.title }}</span>
  </a>

  {% capture img_id %}ProductCardImage-{{ section.id }}-{{ product.id }}{% endcapture %}
  {% capture wrapper_id %}ProductCardImageWrapper-{{ section.id }}-{{ product.id }}{% endcapture %}

  <div id="{{ wrapper_id }}" class="grid-view-item__image-wrapper js" style="padding-top: 140%; background-repeat: no-repeat; background-position: center; background-size: cover; background-image: url({{ product.featured_image | img_url: '600x600' }});"></div>

  <noscript>
    {% capture image_size %}{{ max_height }}x{{ max_height }}{% endcapture %}
    <img class="grid-view-item__image" src="{{ product.featured_image.src | img_url: image_size, scale: 2 }}" alt="{{ product.featured_image.alt }}" style="max-width: {{ max_height | times: product.featured_image.aspect_ratio }}px;">
  </noscript>

  <div class="h4 grid-view-item__title" aria-hidden="true">{{ product.title }}</div>
  <dl class="product-card__description">
    {% if section.settings.show_vendor %}
      <div class="grid-view-item__vendor product-card__vendor">
        <dt>
          <span class="visually-hidden">{{ 'products.product.vendor' | t }}</span>
        </dt>
        <dd>
          {{ product.vendor }}
        </dd>
      </div>
    {% endif %}

    {% include 'product-price' %}
  </dl>
</div>
