This is the {{ collection.title }} collection

<ul>
{% for product in collection.products %}
  <li>{{ product.title }}</li>
{% endfor %}
</ul>

{% if section.settings.test_check == true %}
  Hello dude!
{% endif %}

{{ section.settings.test_text }}

<br>

<img width="{{ section.settings.test_image_width }}" src="{{ section.settings.test_image | img_url }}"></img>

{% schema %}
{
    "name": "Test Stuff",
    "settings": [
        {
            "type": "checkbox",
            "id": "test_check",
            "label": "Hello?",
            "default": false
        },
        {
            "type": "text",
            "id": "test_text",
            "label": "Some Text",
            "default": "Please write something..."
        },
        {
            "type": "image_picker",
            "id": "test_image",
            "label": "Nice Pic"
        },
        {
            "type": "range",
            "id": "test_image_width",
            "min":       100,
            "max":        1000,
            "step":       100,
            "unit":       "px",
            "label":     "Width Size",
            "default":   200
        }
    ]
}
{% endschema %}