<div>
  <h3 class="text-center" >{{ 'jobs.careers.heading' | t }}<br/><br/></h3>
  {% if section.blocks.size > 0 %}
    {% for block in section.blocks %}
      <div class="collapsible" id="job-{{ block.id }}" >
        <div onclick="openCollapsible({{ block.id }})" class="collapsible-header">
          <h3 class="collapsible-heading">{{ block.settings.heading }}</h3>
          <div class="collapsible-icon-container">
            <div class="collapsible-icon"></div>
          </div>
        </div>
        <div class="collapsible-content-container">
          <div class="collapsible-content">
            <div class="job-description">{{ block.settings.description }}</div>
            <p class="job-types">{{ 'jobs.types' | t }}: {{ block.settings.types }}</p>
            <a href="mailto:hello@uptous.co" class="">
              <button class="btn btn-black btn-big">{{ 'layout.buttons.apply_for_this_job' | t }}</button>
            </a>
          </div>
        </div>
      </div>
    {% endfor %}
  {% endif %}

</div>

{% schema %}
{
    "name": "Jobs",
    "class": "js-section__home-jobs",
    "blocks": [
        {
            "type": "job",
            "name": "Job",
            "settings": [
                {
                    "type": "text",
                    "id": "heading",
                    "label": "Heading",
                    "default": "Job name"
                },
                {
                  "type": "text",
                  "id": "types",
                  "label": "Types",
                  "default": "Full-time, Contract"
                },
                {
                    "type": "richtext",
                    "id": "description",
                    "label": "Description",
                    "default": "<p>Job information</p>"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Jobs",
            "category": "Promotional"
        }
    ]
}
{% endschema %}
