<div class="uptous-main-content">
  {% for block in section.blocks %}
    {%- assign collection = collections[block.settings.collection] -%}
    <div class="outfit-container" id="uptous-outfit-{{ collection.id }}">
      {% if collection.metafields.custom_fields["video_placeholder_image"] != blank %}
      <div class="outfit-video-container" onclick="openUptousVideo('{{ collection.id }}')" data-uptous-video-url="{{ collection.metafields.custom_fields['video_url'] }}">
        <div class="outfit-video-placeholder">
          <img src="{{ collection.metafields.custom_fields['video_placeholder_image'] }}" alt="">
        </div>
        <div class="outfit-video-overlay">
          <div class="outfit-video-overlay-content" >
            <div class="outfit-video-icon"></div>
            <div class="outfit-video-note">Watch Now</div>
          </div>
        </div>
      </div>
      {% endif %}
      <div class="outfit-bottom-container">
        <div class="outfit-image-container">
          <img src="{{ collection.image | img_url: '470x677' }}" alt="">
        </div>
        <div class="outfit-products-container">
          <p class="bold-900" >Products in this Outfit</p>
          <div class="outfit-products">
            {% for product in collection.products %}
              <div class="outfit-product">
                  <a href="{{ product.url }}">
                    <div class="outfit-product-image-container">
                      <img src="{{ product.featured_image.src | img_url: image_size, scale: 2 }}" alt="">
                    </div>
                    <p class="outfit-product-vendor">{{ product.vendor }}</p>
                    <p class="outfit-product-name">{{ product.title }}</p>
                  </a>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% schema %}
  {
    "name": "Collection list",
    "max_blocks": 100,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Collection list"
      }
    ],
    "blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "label": "Collection",
            "id": "collection",
            "type": "collection"
          }
        ]
      }
    ]
  }
{% endschema %}
