<div class="product"></div>
<div id="stage">
  <div id="img-1" class="one-six-tile">
    <img class="one-six-tile-img" src="{{ product.images[0] | img_url: '1000x' }}" />
  </div>
  <div id="img-2" class="one-six-tile">
    <img class="one-six-tile-img" src="{{ product.images[1] | img_url: '1000x' }}" />
  </div>
  <div id="img-3" class="one-six-tile">
    <img class="one-six-tile-img" src="{{ product.images[2] | img_url: '1000x' }}" />
  </div>
  <div id="img-4" class="one-six-tile">
    <img class="one-six-tile-img" src="{{ product.images[3] | img_url: '1000x' }}" />
  </div>
  <div id="img-5" class="one-six-tile">
    <img class="one-six-tile-img" src="{{ product.images[4] | img_url: '1000x' }}" />
  </div>
  <div id="img-6" class="one-six-tile">
    <img class="one-six-tile-img" src="{{ product.images[5] | img_url: '1000x' }}" />
  </div>
  <div id="overlay" class="stage-dark-overlay">
    <img id="detail-1" class="one-six-tile-img-detail" src="{{ product.images[0] | img_url: '1000x' }}" />
    <img id="detail-2" class="one-six-tile-img-detail" src="{{ product.images[1] | img_url: '1000x' }}" />
    <img id="detail-3" class="one-six-tile-img-detail" src="{{ product.images[2] | img_url: '1000x' }}" />
    <img id="detail-4" class="one-six-tile-img-detail" src="{{ product.images[3] | img_url: '1000x' }}" />
    <img id="detail-5" class="one-six-tile-img-detail" src="{{ product.images[4] | img_url: '1000x' }}" />
    <img id="detail-6" class="one-six-tile-img-detail" src="{{ product.images[5] | img_url: '1000x' }}" />
  </div>
</div>

<script src="{{ 'jquery.js' | asset_url }}"></script>
<script>
  $( document ).ready(function() {
    $( "#img-1" ).click(function() {
      showOverlay();
      $("#detail-1").css('display', 'block');
    });
    $( "#img-2" ).click(function() {
      showOverlay();
      $("#detail-2").css('display', 'block');
    });
    $( "#img-3" ).click(function() {
      showOverlay();
      $("#detail-3").css('display', 'block');
    });
    $( "#img-4" ).click(function() {
      showOverlay();
      $("#detail-4").css('display', 'block');
    });
    $( "#img-5" ).click(function() {
      showOverlay();
      $("#detail-5").css('display', 'block');
    });
    $( "#img-6" ).click(function() {
      showOverlay();
      $("#detail-6").css('display', 'block');
    });

    $( "#overlay" ).click(function() {
      hideOverlay();
      $("#detail-1").css('display', 'none');
      $("#detail-2").css('display', 'none');
      $("#detail-3").css('display', 'none');
      $("#detail-4").css('display', 'none');
      $("#detail-5").css('display', 'none');
      $("#detail-6").css('display', 'none');
    });

    function showOverlay() {
      $("#overlay").css('display', 'block');
    }

    function hideOverlay() {
      $("#overlay").css('display', 'none');
    }
  });
</script>

{% if collection %}
  <template class="collection-info">{{ collection | json }}</template>
{% endif %}

{% unless product == empty %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
{% endunless %}

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "select",
        "id": "image_size",
        "label": "Image size",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          },
          {
            "value": "full",
            "label": "Full-width"
          }
        ],
        "default": "medium"
      },
      {
        "type": "checkbox",
        "id": "show_quantity_selector",
        "label": "Show quantity selector",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_variant_labels",
        "label": "Show variant labels",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show vendor",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "enable_zoom",
        "label": "Enable image zoom",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      }
    ]
  }
{% endschema %}
