<div class="product-template__container page-width"
  id="ProductSection-{{ section.id }}"
  data-section-id="{{ section.id }}"
  data-section-type="product"
  data-enable-history-state="true"
>
  {% comment %}
    Get first variant, or deep linked one
  {% endcomment %}
  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign product_image_zoom_size = '1024x1024' -%}
  {%- assign product_image_scale = '2' -%}
  {%- assign enable_zoom = section.settings.enable_zoom -%}

  {% case section.settings.image_size %}
    {% when 'small' %}
      {%- assign product_image_width = 'medium-up--one-third' -%}
      {%- assign product_description_width = 'medium-up--two-thirds' -%}
      {%- assign product_thumbnail_width = 'medium-up--one-third' -%}
      {%- assign height = 345 -%}
    {% when 'medium' %}
      {%- assign product_image_width = 'medium-up--one-half' -%}
      {%- assign product_description_width = 'medium-up--one-half' -%}
      {%- assign product_thumbnail_width = 'medium-up--one-quarter' -%}
      {%- assign height = 530 -%}
    {% when 'large' %}
      {%- assign product_image_width = 'medium-up--two-thirds' -%}
      {%- assign product_description_width = 'medium-up--one-third' -%}
      {%- assign product_thumbnail_width = 'medium-up--one-fifth' -%}
      {%- assign height = 720 -%}
    {% when 'full' %}
      {%- assign product_image_width = '' -%}
      {%- assign product_description_width = '' -%}
      {%- assign product_thumbnail_width = 'medium-up--one-eighth' -%}
      {%- assign height = 1090 -%}
      {%- assign enable_zoom = false -%}
  {% endcase %}

  {% for image in product.images %}
    {% if image.alt contains 'about_header_pic' %}
      {% assign about_header_img_url = image | img_url: 'x300' %}
    {% endif %}
  {% endfor %}

  {% assign seller_name = null %}
  {% assign about_active = 0 %}

  {% for tag in product.tags %}
    {% if tag contains 'seller:' %}
      {% assign seller_name = tag | remove: 'seller:' %}
    {% endif %}
    {% if tag contains 'stock:' %}
      {% assign stock_type = tag | remove: 'stock:' %}
    {% endif %}
    {% if tag contains 'business:' %}
      {% assign business_name = tag | remove: 'business:' %}
    {% endif %}
  {% endfor %}

  {% assign ga_campaign_link = '?utm_source=user-share&utm_medium=webshop&utm_campaign=share-button' %}
  {% assign shipping_terms_link = 'https://trendiamo.com/pages/shipping' %}

  {% if seller_name != null %}
    {% for collection in product.collections %}
      {% if collection.title == seller_name %}
        {% assign profile_image = collection.image %}
        {% assign profile_link = collection.url %}
        {% if collection.metafields.custom_fields["about_active"] != blank and collection.metafields.custom_fields["about_active"] == 1 %}
          {% assign about_active = 1 %}
        {% else %}
          {% assign about_active = 0 %}
        {% endif %}
        {% if collection.metafields.custom_fields["legal_business_name"] != blank %}
          {% assign business_name = collection.metafields.custom_fields["legal_business_name"] %}
        {% endif %}
        {% if collection.metafields.custom_fields["shipping_timeframe"] != blank %}
          {% assign shipping_timeframe = collection.metafields.custom_fields["shipping_timeframe"] %}
        {% else %}
          {% assign no_shipping = 1 %}
        {% endif %}
        {% if collection.metafields.custom_fields["business_location"] != blank %}
          {% assign business_location = collection.metafields.custom_fields["business_location"] %}
        {% endif %}
        {% if collection.metafields.custom_fields["produce_on_demand"] != blank and collection.metafields.custom_fields["produce_on_demand"] == 1 %}
          {% assign produced_on_demand = 1 %}
        {% else %}
          {% assign produced_on_demand = 0 %}
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}

  <div class="pdp-sidebar-container">
    <div id="pdp-sidebar" class="grid__item {{ product_description_width }}">
      <div class="pdp-sidebar-sidebar">
        <div class="pdp-slick-small-container">
          <div class="pdp-slick-small">
            {% for image in product.images %}
              {% unless image.alt contains "_profilepic_" or image.alt contains "_video_" %}
                <img src="{{ image | img_url: '1000x' }}" alt="{{ image.alt }}">
              {% endunless %}
              {% if image.alt contains "_video_" %}
                <img src="{{ image | img_url: '1000x' }}" alt="{{ image.alt }}" class="video-slick-item" data-video-id="{{ image.alt | remove: '_video_' }}">
              {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="pdp-sidebar-header">
          <a href="{{ collection.url }}"><img class="pdp-sidebar-profilepic" src="{{ profile_image.src | img_url: 'compact' }}"></a>
          <div class="pdp-sidebar-content">
            {% for tag in product.tags %}
              {% if tag contains "seller:" %}
                {% assign seller = tag | remove: 'seller:' %}
              {% endif %}
            {% endfor %}
            {% for collection in product.collections %}
              {% if collection.title == seller %}
                {% assign seller_profile_url = collection.url | append: '#about'%}
              {% endif %}
            {% endfor %}
            <div class="pdp-sidebar-title"><a href="{{ collection.url }}">{{ seller }}</a></div>
            {% unless about_active == 0 %}
              <a href="{{ seller_profile_url }}"><div id="btn-about-me" class="btn--small btn--secondary">about me</div></a>
            {% endunless %}
          </div>
        </div>

        {% if collection %}
          <div class="trendiamo-breadcrumbs">
            <a class="btn btn--tertiary" href="javascript:history.back()">back</a>
            <a class="breadcrumb-link" href="/">Homepage</a>
            {% include "icon-chevron-right" %}
            <a class="breadcrumb-link" href="{{ collection.url }}">{{ collection.title }}</a>
            {% include "icon-chevron-right" %}
            <div class="breadcrumb-link">{{ product.title }}</div>
          </div>
        {% endif %}

        <div class="product-single__meta">
          <div style="display: flex;">
            <h1 class="product-single__title">{{ product.title }}</h1>
            <button class="btn-product-share btn btn--tertiary" data-clipboard-text="{{ shop.url }}{{ product.url }}{{ ga_campaign_link }}">
              share
              <div id="btn-product-share-success">
                <div class="arrow-up"></div>
                copied
              </div>
            </button>
          </div>


          {% if section.settings.show_vendor %}
            <p class="product-single__vendor">{{ product.vendor }}</p>
          {% endif %}

          <div>
            <p class="product-single__price product-single__price-{{ section.id }}">
              {% if current_variant.compare_at_price > current_variant.price %}
                  <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                  <s id="ComparePrice-{{ section.id }}">{{ current_variant.compare_at_price | money }}</s>
                  <span class="product-price__price product-price__price-{{ section.id }} product-price__sale product-price__sale--single">
                    <span id="ProductPrice-{{ section.id }}">
                      {{ current_variant.price | money }}
                    </span>
                    <span class="product-price__sale-label product-price__sale-label-{{ section.id }}">{{ 'products.product.on_sale' | t }}</span>
                  </span>
              {% else %}
                <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                <s id="ComparePrice-{{ section.id }}" class="hide">{{ current_variant.compare_at_price | money }}</s>
                <span class="product-price__price product-price__price-{{ section.id }}">
                  <span id="ProductPrice-{{ section.id }}">
                    {{ current_variant.price | money }}
                  </span>
                  <span class="product-price__sale-label product-price__sale-label-{{ section.id }} hide">{{ 'products.product.on_sale' | t }}</span>
                </span>
              {% endif %}
            </p>

            {% unless no_shipping == 1 %}
              {% if produced_on_demand == 1 %}
                <a href="{{ shipping_terms_link }}"><div class="product-stock-demand">produced on demand</div></a>
                <a href="{{ shipping_terms_link }}"><div class="product-stock-link">?</div></a>
              {% endif %}
              {% if produced_on_demand == 0 %}
                <a href="{{ shipping_terms_link }}"><div class="product-stock-stock">shipping: {{ shipping_timeframe }}</div></a>
                <a href="{{ shipping_terms_link }}"><div class="product-stock-link">?</div></a>
              {% endif %}
            {% endunless %}

            {% capture "form_classes" -%}
              product-form product-form-{{ section.id }}{% unless section.settings.show_variant_labels %} product-form--hide-variant-labels{% endunless %}{% if section.settings.enable_payment_button and product.has_only_default_variant%} product-form--payment-button-no-variants{% endif %}
            {%- endcapture %}

            {% form 'product', product, class:form_classes %}
              {% unless product.has_only_default_variant %}
                {% for option in product.options_with_values %}
                  <div class="selector-wrapper js product-form__item">
                    <label {% if option.name == 'default' %}class="label--hidden" {% endif %}for="SingleOptionSelector-{{ forloop.index0 }}">
                      {{ option.name }}
                    </label>
                    <select class="single-option-selector single-option-selector-{{ section.id }} product-form__input" id="SingleOptionSelector-{{ forloop.index0 }}" data-index="option{{ forloop.index }}">
                      {% for value in option.values %}
                        <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>
                      {% endfor %}
                    </select>
                  </div>
                {% endfor %}
              {% endunless %}

              <select name="id" id="ProductSelect-{{ section.id }}" class="product-form__variants no-js">
                {% for variant in product.variants %}
                  {% if variant.available %}
                    <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
                      {{ variant.title }}
                    </option>
                  {% else %}
                    <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
                  {% endif %}
                {% endfor %}
              </select>

              {% if section.settings.show_quantity_selector %}
                <div class="product-form__item product-form__item--quantity">
                  <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
                  <input type="number" id="Quantity" name="quantity" value="1" min="1" class="product-form__input" pattern="[0-9]*">
                </div>
              {% endif %}
              {% unless current_variant.available %}
                <button type="button" class="btn" disabled style="width:100%;">{{ 'products.product.sold_out' | t }}</button>
              {% else %}
                <button type="button" class="btn js-get-in-touch-btn" style="width:100%;">Get in touch</button>
              {% endunless %}
              <!-- <div class="product-form__item product-form__item--submit{% if section.settings.enable_payment_button %} product-form__item--payment-button{% endif %}{% if product.has_only_default_variant %} product-form__item--no-variants{% endif %}">
                <button type="submit" name="add" id="AddToCart-{{ section.id }}" {% unless current_variant.available %}disabled="disabled"{% endunless %} class="btn product-form__cart-submit{% if section.settings.enable_payment_button %} btn--secondary-accent{% endif %}">
                  <span id="AddToCartText-{{ section.id }}">
                    {% unless current_variant.available %}
                      {{ 'products.product.sold_out' | t }}
                    {% else %}
                      {{ 'products.product.add_to_cart' | t }}
                    {% endunless %}
                  </span>
                </button>
                {% if section.settings.enable_payment_button %}
                  {{ form | payment_button }}
                {% endif %}
              </div> -->
            {% endform %}
          </div>

          {%- comment -%}
            Live region for announcing updated price and availability to screen readers
          {%- endcomment -%}
          <p class="visually-hidden" data-product-status
            aria-live="polite"
            role="status"
          ></p>

          <div class="product-single__description rte">
            {{ product.description }}
          </div>

          {% unless no_shipping == 1 %}
            <div class="product-supplier-info">
              Supplied and shipped by {{ business_name }} - {{ business_location }} <br>
              <a href="{{ shipping_terms_link }}">learn more</a>
            </div>
          {% endunless %}

          {% for image in product.images %}
            {% if image.alt contains "_video_" %}
              <div class="pdp-desc-video-container">
                <iframe class="pdp-desc-video" type="text/html" src="https://www.youtube.com/embed/{{ image.alt | remove: '_video_' }}" frameborder="0"></iframe>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div id="pdp" class="grid product-single{% if section.settings.enable_payment_button %} product-single--{{ section.settings.image_size }}-image{% endif %}">
    <div id="pdp-stage" style="position: relative;" class="grid__item product-single__photos {{ product_image_width }}{% if section.settings.image_size == 'full' %} product-single__photos--full{% endif %}">
      {% for image in product.images %}
        {% unless image.alt contains "_profilepic_" or image.alt contains "_video_" %}
          {% capture img_id %}FeaturedImage-{{ section.id }}-{{ image.id }}{% endcapture %}
          {% capture img_class %}product-featured-img{% endcapture %}
          {% capture zoom_img_id %}FeaturedImageZoom-{{ section.id }}-{{ image.id }}{% endcapture %}
          {% capture img_wrapper_id %}{{ zoom_img_id }}-wrapper{% endcapture %}
          {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

          {% include 'image-style' with small_style: true, width: height, height: height, wrapper_id: img_wrapper_id, img_id: img_id %}

          <div class="pdp-tile-img-wrapper">
            <div id="{{ image.id }}" class="pdp-tile-img" style="background-image:url('{{ image | img_url: '600x' }}');" alt="{{ image.alt | escape }}" data-index="{% increment pdpTileImgCounter %}"></div>
          </div>
        {% endunless %}
        {% if image.alt contains "_video_" %}
          <div class="pdp-tile-img-wrapper">
            <div id="{{ image.id }}" class="pdp-tile-video" data-video-id="{{ image.alt | remove: '_video_' }}" style="background-image:url('{{ image | img_url: '600x' }}');"></div>
          </div>
        {% endif %}
      {% endfor %}
      <div class="pdp-full-img-wrapper">
        <div class="pdp-slick">
          {% for image in product.images %}
            {% unless image.alt contains "_profilepic_" or image.alt contains "_video_" %}
              <img src="{{ image | img_url: '1000x' }}" alt="{{ image.alt }}" class="pdp-full-img">
            {% endunless %}
          {% endfor %}
        </div>
        <div class="close-full-img-wrapper">{% include "icon-close" %}</div>
      </div>
      <div class="pdp-full-video">
        <div id="fs-player" style="width: 100%; height: 100%;"></div>
      </div>

      <noscript>
        {%- assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image -%}
        {% capture product_image_size %}{{ height }}x{% endcapture %}
        <img src="{{ featured_image | img_url: product_image_size, scale: product_image_scale }}" alt="{{ featured_image.alt }}" id="FeaturedImage-{{ section.id }}" class="product-featured-img" style="max-width: {{ height }}px;">
      </noscript>

      {% if product.images.size > 1 %}
        {% if product.images.size > 3 %}
          {%- assign enable_thumbnail_slides = true -%}
        {% endif %}

        <div class="thumbnails-wrapper{% if enable_thumbnail_slides == true %} thumbnails-slider--active{% endif %}">
          {% if enable_thumbnail_slides == true %}
            <button type="button" class="btn btn--link medium-up--hide thumbnails-slider__btn thumbnails-slider__prev thumbnails-slider__prev--{{ section.id }}">
              {% include 'icon-chevron-left' %}
              <span class="icon__fallback-text">{{ 'sections.slideshow.previous_slide' | t }}</span>
            </button>
          {% endif %}
          <ul class="grid grid--uniform product-single__thumbnails product-single__thumbnails-{{ section.id }}">
            {% for image in product.images %}
            {% unless image.alt contains "_profilepic_"%}
              <li class="grid__item {{ product_thumbnail_width }} product-single__thumbnails-item js">
                <a href="{{ image.src | img_url: product_image_zoom_size, scale: product_image_scale }}"
                   class="text-link product-single__thumbnail product-single__thumbnail--{{ section.id }}"
                   data-thumbnail-id="{{ image.id }}"
                   {% if enable_zoom %}data-zoom="{{ image.src | img_url: product_image_zoom_size, scale: product_image_scale }}"{% endif %}>
                     <img class="product-single__thumbnail-image" src="{{ image.src | img_url: '110x110', scale: 2 }}" alt="{{ image.alt | escape }}">
                </a>
              </li>
            {% endunless %}
            {% endfor %}
          </ul>
          {% if enable_thumbnail_slides == true %}
            <button type="button" class="btn btn--link medium-up--hide thumbnails-slider__btn thumbnails-slider__next thumbnails-slider__next--{{ section.id }}">
              {% include 'icon-chevron-right' %}
              <span class="icon__fallback-text">{{ 'sections.slideshow.next_slide' | t }}</span>
            </button>
          {% endif %}
        </div>
      {% endif %}
      {% if collection %}
        <div class="text-center return-link-wrapper">
          <a href="{{ collection.url }}" class="btn btn--tertiary return-link">
            {{ 'products.product.back_to_collection' | t: title: collection.title }}
          </a>
        </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="modal-backdrop-container" id="cart-modal" style="display:none;">
  <div class="modal-backdrop">
    <div class="modal-modal">
      <div class="modal-modal-content">
        <div class="modal-container" style="padding-top: 2rem;">
          <h1>Interested?</h1>
          <div id="hbspt-cart-form"></div>
        </div>
      </div>
      <div class="close-modal">{% include "icon-close" %}</div>
    </div>
  </div>
</div>

<script>
  $('.js-get-in-touch-btn').click(function(event) {
    event.stopPropagation();
    event.preventDefault();
    $('#cart-modal').show();
    hbspt.forms.create({
      portalId: '4568386',
      formId: '6cd6d50a-3dbe-42d3-9756-c1bf697c0fb3',
      css: '',
      target: '#hbspt-cart-form'
    });
  });
  $('#cart-modal').click(function(event) {
    if ($(event.target).is('.modal-backdrop, .close-modal, svg, path')) {
      $('#cart-modal').hide();
    }
  });
</script>

{% unless product == empty %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>

  <script>
    $(document).ready(function() {
      var clipboard = new ClipboardJS('.btn-product-share');

      clipboard.on('success', function() {
        if (typeof ga === 'function') ga('send', 'event', 'product', 'share');
        $('#btn-product-share-success').show();
        setTimeout(function() {
          $('#btn-product-share-success').hide();
        }, 1000);
      });

      $('.pdp-slick-small').slick({
        arrows: false,
        dots: true,
        speed: 200,
        prevArrow: '<div class="prev-arrow">{% include "icon-slider-left" %}</div>',
        nextArrow: '<div class="next-arrow">{% include "icon-slider-right" %}</div>',
      });
      $('.pdp-slick-small').show();

      $('.pdp-tile-img').click(function(event) {
        $('.pdp-full-img-wrapper').show();
        var initialSlide = $(event.target).data('index');
        $('.pdp-slick').slick({
          arrows: true,
          initialSlide: initialSlide,
          speed: 200,
          prevArrow: '<div class="prev-arrow">{% include "icon-slider-left" %}</div>',
          nextArrow: '<div class="next-arrow">{% include "icon-slider-right" %}</div>',
        });
      });
      $('.close-full-img-wrapper').click(function(event) {
        $('.pdp-full-img-wrapper').hide();
        $('.pdp-slick').slick('unslick');
      });

      $('.pdp-full-img-wrapper').click(function(event) {
        if ($(event.target).is('svg, path, .prev-arrow, .next-arrow')) return;
        if (event.offsetX > ($('.pdp-full-img-wrapper').get(0).offsetWidth / 2)) {
          $('.pdp-slick').slick('slickNext');
        } else {
          $('.pdp-slick').slick('slickPrev');
        }
      });

      $('#btn-about-me').click(function() {
        $('#about-section').toggle();
      });

      $('#btn-product-share').click(function() {
        var url = window.location.href;
        url.select();
        document.execCommand('copy');
      });
    });

    /// start videos
    var tag = document.createElement('script');
    tag.src = 'https://www.youtube.com/iframe_api';
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    function showVideo(playerId, videoId) {
      new YT.Player(playerId, {
        videoId: videoId,
        playerVars: { 'autoplay': 1 },
        events: {
          'onStateChange': function(event) {
            if (event.data == YT.PlayerState.PAUSED) {
              $('.pdp-small-video-container').remove();
              $('.pdp-full-video').hide();
            }
          }
        }
      });
    }

    function onYouTubeIframeAPIReady() {
      $('.pdp-tile-video').click(function(event) {
        var videoId = $(event.target).closest('.pdp-tile-video').data('video-id');
        $('.pdp-full-video').show();
        showVideo('fs-player', videoId);
      });

      $('.video-slick-item').click(function() {
        $('html, body').animate({
          scrollTop: $('.pdp-desc-video-container').offset().top
        }, 800);
      });
    }
    /// end videos
  </script>
{% endunless %}

{% schema %}
  {
    "name": {
      "en": "Product pages",
      "de": "Produktseiten",
      "fr": "Pages de produits"
    },
    "settings": [
      {
        "type": "select",
        "id": "image_size",
        "label": {
          "en": "Image size",
          "de": "Foto-Größe",
          "fr": "Taille des images"
        },
        "options": [
          {
            "value": "small",
            "label": {
              "en": "Small",
              "de": "Klein",
              "fr": "Petite"
            }
          },
          {
            "value": "medium",
            "label": {
              "en": "Medium",
              "de": "Mittel",
              "fr": "Moyenne"
            }
          },
          {
            "value": "large",
            "label": {
              "en": "Large",
              "de": "Groß",
              "fr": "Grande"
            }
          },
          {
            "value": "full",
            "label": {
              "en": "Full-width",
              "de": "Volle Breite",
              "fr": "Pleine largeur"
            }
          }
        ],
        "default": "medium"
      },
      {
        "type": "checkbox",
        "id": "show_quantity_selector",
        "label": {
          "en": "Show quantity selector",
          "de": "Quantitäts-Auswahl anzeigen",
          "fr": "Afficher le sélecteur de quantité"
        },
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_variant_labels",
        "label": {
          "en": "Show variant labels",
          "de": "Varianten-Etiketten anzeigen",
          "fr": "Afficher le nom des variantes"
        },
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": {
          "en": "Show vendor",
          "de": "Lieferanten anzeigen",
          "fr": "Afficher les vendeurs"
        },
        "default": false
      },
      {
        "type": "checkbox",
        "id": "enable_zoom",
        "label": {
          "en": "Enable image zoom",
          "de": "Foto-Zoom zulassen",
          "fr": "Activer le zoom d'image"
        },
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_payment_button",
        "label": {
          "en": "Show dynamic checkout button",
          "de": "Dynamischen Checkout Button anzeigen",
          "fr": "Afficher le bouton de passage à la caisse dynamique"
        },
        "info": {
          "en": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "de": "Lässt Kunden direkt bezahlen mit bekannten Bezahlmethoden. [Mehr erfahren](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
          "fr": "Permettez à vos clients de passer à la caisse avec un moyen de paiement qui leur est familier. [En savoir plus](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
        },
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": {
          "en": "Show social sharing buttons",
          "de": "Buttons für Social Media anzeigen",
          "fr": "Affichez les boutons de partage sur les médias sociaux"
        },
        "default": true
      }
    ]
  }
{% endschema %}
