<div>
  <h3 class="text-center" >{{ 'about_us.meet_the_band.heading' | t }}</h3>
  <p class="text-center limited-text-block" >{{ 'about_us.meet_the_band.subheading' | t }}</p>

  {% if section.blocks.size > 0 %}
    <div class="the-band-container">
      {% assign num = 0 %}
      {% assign _id = 0 %}
      {% assign current_limit = 2 %}
      {% for block in section.blocks %}

        {% if _id == 0 %}
          <div class="the-band-row" >
        {% endif %}

        {% assign _id = _id | plus: 1 %}
        {% assign num = num | plus: 1 %}

        {% if num > current_limit %}

          </div>
          <div class="the-band-row">

          {% assign num = 1 %}
          {% if current_limit == 2 %}
            {% assign current_limit = 3 %}
          {% else %}
            {% assign current_limit = 2 %}
          {% endif %}
        {% endif %}

        <div class="the-band-face-container">
          <div class="the-band-image-container" >
            <img src="{{ block.settings.photo | img_url: '400x400' }}" class="the-band-face-image">
          </div>
          <div class="the-band-text-container">
            <div class="the-band-text">{{ block.settings.name }}</div>
            <div class="the-band-text">{{ block.settings.role }}</div>
          </div>
        </div>

      {% endfor %}

      </div>
    </div>
    <div class="the-band-container-mobile">
      {% for block in section.blocks %}
        <div class="the-band-face-container">
          <div class="the-band-image-container" >
            <img src="{{ block.settings.photo | img_url: '400x400' }}" class="the-band-face-image">
          </div>
          <div class="the-band-text-container">
            <div class="the-band-text">{{ block.settings.name }}</div>
            <div class="the-band-text">{{ block.settings.role }}</div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
</div>

{% schema %}
{
    "name": "The Band",
    "class": "js-section__about-the_band",
    "blocks": [
        {
            "type": "band_member",
            "name": "Member",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "photo",
                    "label": "Photo"
                },
                {
                  "type": "text",
                  "id": "name",
                  "label": "Name"
                },
                {
                  "type": "text",
                  "id": "role",
                  "label": "Role"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "The Band",
            "category": "Promotional"
        }
    ]
}
{% endschema %}
