<div id="trendiamo-sidebar">
  <div class="trendiamo-sidebar-content">
    <div class="sidebar-menu">
      <div class="sidebar-menu-item"><a href="{{ section.settings.home_link }}">Home</a></div>
      <div class="sidebar-menu-item"><a href="{{ section.settings.new_link }}">Holiday Collection</a></div>
      <div class="sidebar-menu-item"><a href="{{ section.settings.charts_link }}">Conscious Collection</a></div>
      <div class="sidebar-menu-item"><a href="https://trendiamo.com/collections/limited-edition-swimwear">Swimwear Collection</a></div>
      <div class="sidebar-menu-item"><a href="https://trendiamo.com/collections/handmade-bags-accessories">Handmade Organic Shoes</a></div>
      <div class="sidebar-menu-item"><a href="https://trendiamo.com/collections/handmade-organic-shoes">Handmade Bags & Accessories</a></div>
    </div>
    <div class="sidebar-cta">
      <a href="{{ section.settings.button1_link }}" target="_blank"><div class="btn--small btn--secondary">{{ section.settings.button1_text }}</div></a>
    </div>
    <div class="sidebar-menu-brands">
      <div class="sidebar-menu-brands-title">brands</div>
        {% for link in linklists.sidebar-menu-brands.links %}
          <div class="sidebar-menu-brands-brand">
            <a href="{{ link.url }}">
              <img src="{{ link.object.image | img_url: 'medium' }}" class="sidebar-menu-brands-brand-img"/>
            </a>
            <a class="sidebar-menu-brands-brand-link" href="{{ link.url }}">{{ link.title }}</a>
          </div>
        {% endfor %}
    </div>
    <div class="sidebar-cta">
      <a href="{{ section.settings.button2_link }}" target="_blank"><div class="btn--small btn--secondary">{{ section.settings.button2_text }}</div></a>
    </div>
    <div class="sidebar-menu-sellers">
      <div class="sidebar-menu-sellers-title">sellers</div>
        {% for link in linklists.sidebar-menu-sellers.links %}
          <div class="sidebar-menu-sellers-seller">
            <a href="{{ link.url }}">
              <img src="{{ link.object.image | img_url: 'medium' }}" class="sidebar-menu-sellers-seller-img"/>
            </a>
            <a class="sidebar-menu-sellers-seller-link" href="{{ link.url }}">{{ link.title }}</a>
          </div>
        {% endfor %}
    </div>
  </div>
  <div class="sidebar-menu-footer">
    {% for link in linklists.footer.links %}
    <a class="sidebar-menu-footer-link" href="{{ link.url }}">{{ link.title }}</a>
    {% endfor %}
    <div class="sidebar-menu-copyright">
      © 2018 Trendiamo Unipessoal Lda.
    </div>
  </div>
</div>

{% schema %}
  {
    "name": {
      "en": "Sidebar Settings",
      "de": "Sidebar Einstellungen"
    },
    "settings": [
    {
      "type": "text",
      "id": "home_link",
      "label": {
        "en": "Home Link",
        "de": "Home Link"
      }
    },
    {
      "type": "text",
      "id": "charts_link",
      "label": {
        "en": "Charts Link",
        "de": "Charts Link"
      }
    },
    {
      "type": "text",
      "id": "new_link",
      "label": {
        "en": "New Link",
        "de": "New Link"
      }
    },
    {
      "type": "text",
      "id": "button1_text",
      "label": {
        "en": "Button #1 Text",
        "de": "Button #1 Text"
      }
    },
    {
      "type": "text",
      "id": "button1_link",
      "label": {
        "en": "Button #1 Link",
        "de": "Button #1 Link"
      }
    },
    {
      "type": "text",
      "id": "button2_text",
      "label": {
        "en": "Button #2 Text",
        "de": "Button #2 Text"
      }
    },
    {
      "type": "text",
      "id": "button2_link",
      "label": {
        "en": "Button #2 Link",
        "de": "Button #2 Link"
      }
    }
  ]
}
{% endschema %}
